.choiceBtn {
  border-style: solid;
  border-width: 5px;
  border-color: #ddd;
  width: 300px;
  padding: 25px 25px;
  font-size: 24px;
  color: black;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #e8e8e8;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display: block;
  margin: 30px auto;
}

.choiceBtn.chosen {
  background-color: rgb(57, 170, 225);
}

.choiceBtn.rightAnswer {
  background-color: green !important;
  color: black !important;
}

.choiceBtn.wrongAnswer {
  background-color: red !important;
}

.choiceBtn:disabled,
.choiceBtn[disabled] {
  background-color: #cccccc;
  color: #666666;
  padding: 25px 25px;
}

.choiceBtn:not(.nohover):hover:enabled {
  background-color: rgb(57, 170, 225);
  border-color: #aaa;
  transition: 0.2s;
}
