.quizResultContainer {
  width: 100%;
  text-align: center;
}

.star {
  width: 20%;
}

.finalScore {
  color: green;
  font-size: 150px;
  font-family: Roboto, sans-serif;
}

.animatedFinalScore {
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes colorChange {
  0% {
    color: rgb(0, 255, 0);
  }
  33% {
    color: red;
  }
  66% {
    color: yellow;
  }
}

@keyframes finalScore {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.gradeFeedBackContainer {
  font-size: 2em;
  margin-top: 30px;
  font-weight: bold;
}
